<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: black;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        canvas {
            width: 800px;
            height: 600px;
        }
    </style>
</head>

<body>
</body>

</html>
